<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-tw">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>example for w-quill-vue</title>

    <!-- quill -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.snow.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.min.js"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

    <!-- w-quill-vue -->
    <script src="../dist/w-quill-vue.umd.js"></script>

</head>
<body style="font-family:'Microsoft JhengHei','Avenir','Helvetica'; margin:0px; padding:0px;">

    <div id="app">

        <div style="margin:20px;">
            <div>1. bind height</div>
            <w-quill-vue
                :height="height"
                v-model="content"
            ></w-quill-vue>
        </div>

        <div style="margin:20px;">
            <div>1. bind height</div>
            <w-quill-vue
                :editable="false"
                v-model="content"
            ></w-quill-vue>
        </div>

        <div style="margin:20px;">
            <div>2. sync content</div>
            <w-quill-vue
                :height="200"
                v-model="content"
            ></w-quill-vue>
        </div>

        <div style="margin:20px;">
            <div>3. settings</div>
            <w-quill-vue
                :settings="settings"
                v-model="content"
            ></w-quill-vue>
        </div>

    </div>

    <script>

        //install w-quill-vue
        Vue.component('w-quill-vue',window['w-quill-vue'])

        //initialize
        new Vue({
            el: '#app',
            data: {
                content: 'abc中文123',
                height: 250,
                settings: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            // [{ 'color': [] }, { 'background': [] }],
                            // // [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            // [{ 'indent': '-1' }, { 'indent': '+1' }],
                            // [{ 'script': 'sub' }, { 'script': 'super' }],
                            // // [{ 'header': [1, 2, 3, false] }],
                            // [{ 'align': [] }],
                            // // ['blockquote', 'code-block'],
                            // // ['link', 'image', 'video'],
                            // // ['clean'],
                        ],
                    },
                },
            },
            // mounted: function() {
            //     let vo=this
            //     setInterval(function(){
            //         vo.height+=10
            //     },1000)
            // },
        })

    </script>

</body>
</html>